# ========================================================
# NewsMaster Environment Variables
# ========================================================

# 1. Telegram Bot Configuration
# -----------------------------
# You can get a token by talking to @BotFather on Telegram
TELEGRAM_BOT_TOKEN="your-telegram-bot-token-here"

# Used to protect your internal API routes (like /api/telegram/notify)
# You can generate a random string for this.
INTERNAL_API_KEY="your-secret-api-key"

# 2. API Configuration (For later)
# -----------------------------
# NEXT_PUBLIC_API_URL="http://localhost:8000/api"
# NEXT_PUBLIC_USE_MOCK="true"


# 3. Database (Supabase)
# -----------------------------
DATABASE_URL="your-Supabase-token-here"
DIRECT_URL="your-Supabase-token-here"

# 4. AI Sentiment Analysis (Hugging Face)
# ---------------------------------------
# You can get a free token by signing up on huggingface.co
HUGGINGFACE_API_KEY="your-huggingface-api-key-here"
